/* ABOUT */

#about {
    position: relative;
}

.about-section{
    display: flex;
    margin-top: 20vh;
    justify-content: center;
}

.about-details, .about-containers {
    display: flex;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem ;
}

.about-details {
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
}

.about-container {
    padding: 1.5rem;
    flex: 1;
    background: var(--secondary-bg-color);
    border-radius: 2rem;
    text-align: center;
}

#about-image {
    width: 420px;
    height: 400px;
    border-radius: 2rem;
    margin-top: 2rem;
}

.about-text {
    margin-top: 0.2rem;
    text-align: justify;
}

.emoji {
    font-size: 3rem;
}