/* SECTIONS */

section {
    padding-top: 0.1vh;
    height: 96vh;
    margin: 0 15rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.section-text {
    align-self: center;
    text-align: center;
    margin-top: 2.2rem;
}

.section-text p {
    font-weight: 600;
}

.section-p1 {
    font-size: 1.45rem;
    color: var(--secondary-color);
    text-align: center;
}

.section-title {
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-top: 0.5rem;
    font-weight: bold;
}

.section-p2 {
    margin-top: 1rem;
    color: var(--secondary-color);
}