/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #000000;
  --secondary-color: #1a1a1a;
  --bg-color: #f4f4f4;
  --secondary-bg-color: #fffafa;

}

.arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 2.5rem;
  right: -5rem;
  cursor: pointer;
}

.dark-theme {
  --primary-color: #f4f4f4;
  --secondary-color: #ff4747;
  --bg-color: #000000;
  --secondary-bg-color: #111111;
}

.footer {
  text-align: center;
  margin-top: 10rem;
}

.footer-div{
  display: flex;
  justify-content: center;
  margin-right: 10rem;
  margin-top: 10rem;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--primary-color);
}

/* TRANSITION */
a,
.btm {
transition: all 0.3s ease;
}

h3 {
  color: var(--primary-color);
}