/* SLIDER BTNS */
@media screen and (max-width: 2250px){
  .projects-next, .hackathons-next {
    margin-right: 10rem;
  }
  
  .projects-prev, .hackathons-prev {
    margin-left: 10rem;
  }
}
  
@media screen and (max-width: 1950px){
  .projects-next {
    margin-right: 0px;
  }
  
  .projects-prev {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1625px){
  .projects-next {
    margin-right: 4rem;
  }
  
  .projects-prev {
    margin-left: 4rem;
  }

  .hackathons-next {
    margin-right: 2rem;
  }

  .hackathons-prev {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1325px){
  .projects-next, .hackathons-next {
    margin-right: 0px;
  }
  
  .projects-prev, .hackathons-prev {
    margin-left: 0px;
  }
}
    

/* GENERAL */
@media screen and (max-width: 1625px){
  .swiper-projects {
    margin-top: 2vh;
  }

  .projects-container {
    width: 600px;
    height: 580px;
    flex-direction: column;
  }

  .projects-subcontainer-left {
    width: 100%;
    height: 38%;
  }

  .projects-subcontainer-left img {
    width: 22%;
    height: 44%;
  }

  .projects-subcontainer-left h1{
    margin-top: 0.5rem;
  }

  .projects-subcontainer-left h3{
    font-size: 1.5rem;
  }

  .projects-double-btn {
    font-size: 1rem;
    width: 188px;
  }

  .projects-subcontainer-right {
    width: 95%;
    height: 65%;
    margin-top: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }

  .projects-description h3{
    margin-top: 3.6rem;
    font-size: 1.1rem;
  }

  .projects-description p{
    font-size: 0.9rem;
  }

  .projects-tags {
    font-size: 1rem;
    margin-top: 1.8rem;
    justify-content: center;
    align-items: center;
  }

  .projects-tags a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1325px){
    #navbar-desktop {
      display: none;
    }
  
    #navbar-mobile {
      display: flex;
    }

    #profile, .section-text {
      display: block;
      height: 80vh;
    }

    .image-div-profile {
      margin: 0 auto;
    }

    .image-div-profile img {
      margin-left: 0.1rem;
    }

    section, .section-text {
      height: fit-content;
    }

    section {
      margin: 0 5%;
      padding-top: 3rem;
    }

    .section-p1 {
      margin-top: 2rem;
    }

    .image-div-profile {
      width: 300px;
      height: 300px;
    }

    #profile-socials {
      margin-left: 0.1rem;
      gap: 1.25rem;
    }

    .about-section{
      margin-top: 0.1rem;
    }

    .about-image-div {
      margin-top: 0.4rem;
    }

    #about-image {
      width: 200px;
      height: 190px;
    }

    .swiper-projects, .swiper-skills, .certification-section, .swiper-hackathons {
      margin-top: 3rem;
    }

    .hackathons-next, .hackathons-prev {
      margin-top: 6.6rem;
    }

    .hackathons-containers {
      margin-top: 0.1rem;
    }
    
    .footer-div{
      margin-top: 5rem;
    }

    .footer{
      margin-top: 20rem;
    }

    .arrow {
      display: none;
    }
}

@media screen and (max-width: 950px){
    .about-image-div {
      margin-top: 2rem;
    }

    #about-image {
      display: block;
      margin: 0 auto;
      width: 240px;
      height: 225px;
    }

    .about-details, .about-containers, .about-container, .about-section, .about-image-div {
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-projects, .swiper-skills, .certification-section, .swiper-hackathons {
      margin-top: 2rem;
    }
    
    .skill-container {
      margin-left: 0.3rem;
    }

    .projects-container {
      width: 296px;
      height: 620px;
      margin-left: 0.3rem;
    }
  
    .projects-subcontainer-left {
      height: 35%;
    }

    .projects-subcontainer-left img {
      width: 30%;
      height: 30%;
      margin-top: 0.5rem;
    }
  
    .projects-subcontainer-left h3{
      font-size: 1rem;
    }
  
    .projects-btn-container {
      flex-direction: column;
      margin-left: 0.3rem;
    }
  
    .projects-subcontainer-right {
      height: 70%;
      margin-left: 0.5rem;
      margin-top: 2rem;
    }
  
    .projects-description h3{
      font-size: 1.2rem;
      margin-top: 0.8rem;
      text-align: center;
    }
  
    .projects-description p{
      font-size: 0.85rem;
      margin-top: 0.2rem;
    }
  
    .projects-tags {
      display: none;
    }

    .hackathons-container {
      flex-direction: column;
      align-content: center;
      width: 250px;
      height: 380px;
      border-radius: 20px;
      margin-left: 0.3rem;
    }

    .hackathons-subcontainer-left {
      margin-top: 1rem;
      height: 40%;
      width: 100%;
    }

    .hackathons-subcontainer-left img{
      width: 35%;
      height: 35%;
    }

    .hackathons-subcontainer-right {
      width: 100%;
      height: 60%;
      margin-top: 0.1rem;
    }

    .hackathons-subcontainer-right-top {
      display: none;
    }

    .hackathons-subcontainer-right-bottom {
      margin-top: 0.7rem;
    }

    .hackathons-subcontainer-right-bottom h3{
      text-align: center;
      margin-bottom: 0.3rem;
      margin-top: 0.1rem;
    }

    .hackathons-subcontainer-right-bottom p{
      text-align: left;
      font-size: 0.9rem;
    }

    .hackathons-subcontainer-right-bottom-hidden{
      display: block;
      text-align: center;
      margin-right: 0.3rem;
      color: var(--primary-color);
      font-size: 0.7rem;
      margin-top: 1.4rem;
    }

    .hackathons-tags {
      display: none;
    }

    .hackathons-next, .hackathons-prev {
      margin-top: 0px;
    }

    .certification-company {
      text-align: center;
      font-size: 1.6rem;
      margin-top: 2rem;
    }

    .contact-containers {
      flex-direction: column;
      margin-top: 6rem;
    }
}

@media screen and (max-width: 460px){
    .image-div-profile {
      width: 240px;
      height: 240px;
      margin: 0 auto;
    }

    .section-title {
      font-size: 1.5rem;
    }

    .skill-container {
      max-width: 167px;
      height: 315px;
    }
  
    .skill-title {
      font-size: 1.4rem;
      margin-bottom: 0.2rem;
    }

    .skill-article {
      margin-left: 1rem;
    }
  
    .skill-article img {
      width: 30px;
      height: 30px;
    }

    .skill-article h3 {
      font-size: 1rem;
    }

    .projects-container {
      width: 180px;
      height: 260px;
      border-radius: 20px;
    }
  
    .projects-subcontainer-left {
      height: 48%;
    }

    .projects-subcontainer-left h3{
      font-size: 0.62rem;
    }
  
    .projects-btn-container{
      margin-top: 0.8rem;
    }

    .projects-double-btn{
      font-size: 0.7rem;
      width: 116px;
      margin-right: 0.2rem;
    }
  
    .projects-description h3{
      display: none;
    }

    .projects-description p{
      display: none;
    }
  
    .projects-subcontainer-right::after {
      content: "Use a wider screen to view the description. Protip: Rotate your device!";
      text-align: center;
      color: var(--primary-color);
      font-size: 0.6rem;
      margin-left: 1.3rem;
      margin-top: 1.5rem;
      width: 72%;
    }
  
    .hackathons-container {
      width: 190px;
      height: 350px;
    }
    
    .hackathons-subcontainer-left img{
      width: 35%;
      height: 35%;
    }

    .hackathons-subcontainer-left h1{
      font-size: 0.9rem;
    }
    
    .hackathons-subcontainer-left h3{
      font-size: 0.8rem;
    }

    .hackathons-subcontainer-right-bottom {
      margin-top: 0.1rem;
    }

    .hackathons-subcontainer-right-bottom h3{
      font-size: 0.9rem;
      margin-bottom: 0.1rem;
    }

    .hackathons-subcontainer-right-bottom p{
      font-size: 0.8rem;
    }

    .hackathons-subcontainer-right-bottom-hidden p{
      margin-top: 1rem;
      font-size: 0.7rem;
    }

    .certification-company {
      font-size: 1.3rem;
    }

    .contact-containers {
      flex-direction: column;
      margin-top: 1.2rem;
    }

    .certification-container {
      width: 180px;
      margin-bottom: 2rem;
      margin-top: 0px;
    }

    .certification-container img {
      width: 25px;
      height: 25px;
      margin-right: 0.3rem;
    }

    .certification-details h3 {
      font-size: 0.75rem;
      margin-bottom: 0.01rem;
    }

    .contact-container {
      width: 250px;
    }

    .contact-container img {
      width: 22px;
      height: 22px;
      margin-right: 0.45rem;
    }

    .contact-details {
      font-size: 0.8rem
    }

    .copy-text {
      font-size: 1.7rem;
    }
}

@media screen and (max-width: 324px){
  .skills-next, .skills-prev, .projects-next, .projects-prev, .hackathons-next, .hackathons-prev, .coursera-prev, .coursera-next, .google-prev, .google-next, .oracle-prev, .oracle-next{
    display: none;
  }

  .contact-container {
    width: 240px;
  }

  .contact-details {
    font-size: 0.7rem
  }
}

@media screen and (max-height: 979px){
  .swiper-projects, .swiper-skills, .certification-section, .swiper-hackathons {
    margin-top: 3rem;
  }

  .image-div-profile {
    margin: 0 auto;
  }

  #profile, .section-text {
    display: block;
    height: 50rem;
  }

  #profile-socials {
    margin-left: 0.1rem;
    gap: 1.25rem;
  }

  .image-div-profile img {
    margin-right: 10rem;
  }

  section, .section-text {
    height: fit-content;
  }

  section {
    margin: 0 5%;
    padding-top: 3rem;
  }

  .section-p1 {
    margin-top: 2rem;
  }

  .arrow {
    display: none;
  }

  .about-section{
    margin-top: 0.1rem;
  }

  .hackathons-containers {
    margin-top: 0.1rem;
  }

  .footer{
    margin-top: 20rem;
  }
}