/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #000000;
  --secondary-color: #121212;
  --bg-color: #f4f4f4;
}

.dark-theme {
  --primary-color: #fffafa;
  --secondary-color: #ffffff;
  --bg-color: #000000;
}

#theme-swap {
    width: 1.7rem;
    margin-top: 0.2rem;
    margin-left: 1rem;
    cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--primary-color);
}

/* TRANSITION */
a,
.btm {
transition: all 0.3s ease;
}

/* DESKTOP NAVBAR */

nav,
.navbar-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.navbar-links {
    gap: 1.5rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    text-decoration-color: var(--secondary-color);
}

a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--secondary-color);
}

.logo {
    font-size: 2rem;
    color: var(--primary-color);
}

.logo:hover {
    cursor: default;
}